<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../style.css">
    </head>
    <body>
        <h1 style="font-family: starwars; padding-left: 20px;">Star Wars Database</h1>
        <div class="topnav">
            <a href="../characters">Characters</a>
            <a href="../alliance">Alliances</a>
            <a href="../planets">Planets</a>
            <a href="../species">Species</a>
            <a href="../character_movie">Characters & Movies</a>
            <a class="active" href="../movies">Movies</a>
        </div>

        <h3>Add a new Movie:</h3>
        <form id="addmovies" action="/movies" method="post">
            Title: <input type="text" name="title"><br>
            Release Year: <input type="text" name="year"><br>
            <input type="submit" value="Submit">
        </form>
        <br/>

        <h3>Current Movies:</h3>
        <table>
            <thead> 
                <th>Title</th> 
                <th>Year</th> 
            </thead> 
            <tbody>
                {{#each movies}} 
                <tr> 
                    <td>{{title}}</td> 
                    <td>{{year}}</td> 
                    <td><button onclick="deleteMovies({{id}})">Delete</button></td>
                    <td><a href="/movies/{{id}}">Update</a></td>
                </tr> 
                {{/each}} 
            </tbody> 
        </table> 
    </body>
</html>
